* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: 'img/git.png'
}

html {
  scroll-behavior: smooth;
}

.main-header{
    margin-bottom: 30px;
    height: 7em;
    display: flex;
    align-items: center;
    background-color: #7a856c;
}

#exposicio-imatges {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 15px;
}

#exposicio-imatges img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    /*border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
}

#imatge-perfil{
    width: 11em;
    border: 3px;
    border-color: #282a29;
    border-radius: 20px;
}

#presentacio{
    display: flex;
    margin-right: 20em;
    margin-left: 20em;
    align-items: center;
}

div.text{
    text-align: justify;
    padding-left: 3em;
    padding-right: 3em;

}

/*Marquesina*/

.marquesina {
    width: 50%; /* percentatje de pantalla de banda a banda */
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
    /* Efecte de difuminat */
    mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}

#exposicio-imatges {
    display: flex;
    width: max-content; 
    gap: 30px;
    padding: 15px 0;
    animation: scroll-marquesina 30s linear infinite; /*velocitat marquesina*/
}

#exposicio-imatges img {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
}

/* Animació de moviment */
@keyframes scroll-marquesina {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-70%); /*amplada transparència*/
    }
}


/* Pausar animació
#exposicio-imatges:hover {
    animation-play-state: paused;
}*/


/*Botó*/
.btn-fijo {
    position: fixed;   
    bottom: 20px;     
    right: 20px;       
    width: 60px;
    height: 70px;
    border-radius: 20%;
    background-color: #25d366; 
    color: white;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    font-size: 24px;
    z-index: 9999;    
  }

  .btn-fijo:hover {
    background-color: #128c7e;
}